<!-- ####By location map#### -->
<!-- 
<div class="gmnoprint custom-control-container"> -->
   <!--  <div class="gm-style-mtc"> -->
<div id="add_marker" class="custom-control" title="Add Marker">Add Marker</div>
  <!--   </div> -->
<!-- </div> -->

<div id="map-container">
  <div id="map-canvas"></div>
</div>


<div id="map">

</div>


<div id="homeless_item">
<%= form_for Item.new, :html => { :id => 'homeless_item_#{post.id}' } do |i| %> 
<%= i.label :item_name %>
<%= i.text_field :item_name %>
<%= i.submit ("Submit")  %>
<% end %>




</div>








