<!-- ####By location map#### -->
<!-- 
<div class="gmnoprint custom-control-container"> -->
   <!--  <div class="gm-style-mtc"> -->
        <div id="add_marker" class="custom-control" title="Add Marker">Add Marker</div>
  <!--   </div> -->
<!-- </div> -->

<div id="map-container">
  <div id="map-canvas"></div>
</div>


<div id="map">

</div>

<div id="homeless_marker">


		
</div>