<%= current_user.email%>

 <% @items.reverse.each do |item| %>
 <p><%= item %></p>

<a href="/users/<%= item.user.id %>">

By: <%= item.user.email.upcase %>
 </a>


 <%end%>

<button><a href="/edit">edit</a>