<!-- Parallax home -->
<html>
<head>
</head>
<body>
  <div id="parallax-bg-4" class="parallax-bg">
		<div id="bg-4-1">Our Mission</div>
		<div id="bg-4-2"><em>We are here to help those in need out in the streets of nyc. Regardless of their decision which lead them to be homeless, everyone deserves a second chance. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellendus distinctio quae, placeat quidem. At corporis officia provident! Temporibus est ipsam quod, recusandae, eaque blanditiis rem et, beatae nam odit facilis. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio amet fugiat dolorum nihil, facere? Animi sunt nostrum eos facere reprehenderit, necessitatibus, rerum provident vel at quas quia assumenda ipsam eum.</em></div>
		<div id="bg-4-3"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Harum iusto corporis cum, repellat perspiciatis veritatis unde, sunt quas iste qui temporibus. Dicta magnam molestias ipsum, exercitationem voluptas temporibus repudiandae! Hic. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis commodi obcaecati, dolore, totam adipisci error aperiam magni dolor est, ex nostrum necessitatibus! Aliquam velit quisquam animi, vero quia commodi vel.</div>
		<div id="bg-4-4"></div>
		<div id="bg-4-5"></div>
  	</div>
  <div id="parallax-bg-3" class="parallax-bg">
		<div id="bg-3-1"></div>
		<div id="bg-3-2">There are over <span>60,000 </span>Homeless people living on the Streets of NYC</div>
		<div id="bg-3-3"></div>
		<div id="bg-3-4"></div>
	</div>
	<div id="parallax-bg-2" class="parallax-bg">
		<div id="bg-2-1"></div>
		<div id="bg-2-2"><span>Dreams</span> are made</div>
		<div id="bg-2-3"></div> 
		<div id="bg-2-4"><span>Change</span> is what we can do to help</div>
		<div id="bg-2-5"></div>
		<div id="bg-2-6">..<span>Some</span> are not</div>
	</div>
	<div id="parallax-bg-1" class="parallax-bg">
		<div id="bg-1-1">Here in NYC</div>
		<div id="bg-1-2">However..</div>
		<div id="bg-1-3"></div>
		<!-- <div id="bg-1-4"></div> -->
		<!-- <div id="bg-1-5"></div> -->
	</div>

	</body>
</html>		