<h1>Contact</h1>
<hr>
<p>We are simply here to help those in need. What our main objective is to locate the hotspots for homeless people living in your area. If you feel you wish to contribute more or reach out to us for more information feel free to email us below.</p>
<br>
<div class="col-xs-2 left">
	<label>Please give an email address, to recieve other notices/updates</label><br><input class="submit">
	<input class="submit" type="submit" value="Submit"/>
</div>