/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#map {
    /*margin-top: 20px;*/
    height: 600px;
    width: 100%; 
  /*653*/

  }
body {
    margin: 0;
    padding: 0;
  }
#Mark_Person_In_Need{
  		font-size: 200px
  		z-index: 1;
  		color: black;
  }

 #homeless_list{
    height: 400px;
    width: 300px;
    border: solid black 3px;
    margin-left: 300px;
    overflow-y: scroll
  }

 #homeless_list h6{
    color: red;
  }
.custom-control-container {
    margin: 5px;
}
.custom-control {
    cursor: pointer;
    width: 60px;
    height: 25px;
    z-index: 1;
    text-align: center;
    direction: ltr;
    text-align: center;
    position: fixed;
    margin-top: 12px;
    margin-left: 300px;
    color: rgb(0, 0, 0);
    font-family: "Roboto", Arial, sans-serif;
    -webkit-user-select: none;
    font-size: 11px !important;
    background-color: rgb(255, 255, 255);
    padding: 1px 6px;
    border-bottom-left-radius: 2px;
    border-top-left-radius: 2px;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.14902);
    -webkit-box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    box-shadow: rgba(0, 0, 0, 0.298039) 0px 1px 4px -1px;
    min-width: 28px;
    font-weight: 500;
   /* display: none;*/
}
.custom-control:hover {
    font-weight: 900 !important;
}
 #logout{
    margin-right: 200px;
  }


